<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <title>PPWLab - My Profile</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">

    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'Lab3.css' %}">
    	<style type="text/css">
            /** {
                border-style: solid;
            }*/

            #mainID {
                position: absolute;
                margin-left: 3rem;
                top: 30px;
                width: 65%;
            }

            #lowerCard1, #upperCard1 {
                display: block;
            }

            .card-1-biodata {
                display: inline-block;
            }

            .bio-icon {
                max-height: 1rem;
                max-width: 1rem;
                display: block;
                margin-top: 1.45rem;
                margin-right: 1rem;
                margin-left: 1rem;
            }

            #bioCategories {
                min-width: 10rem;
                font-weight: bold;
            }
    	</style>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>

    <body>
    	<!-- from bootstrap -->
    	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navBar">
            <img class="rounded-circle" id="kakPeweLogo" src="{% static 'img/Kak-Pewe.jpg' %}">
		    <a class="navbar-brand" id="navBarBrand" href="#"><h3>PPWLAB - MY PROFILE</h3></a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			    <div class="navbar-nav" id="navBarNav">
			    	<a class="nav-item nav-link" id="homeLink" href="home"><h3>Home</h3></a>
                    <a class="nav-item nav-link" id="registerLink" href="registerForm"><h3>Register</h3></a>
			        <a class="nav-item nav-link active" id="profileLink" href="#"><h3>Profile <span class="sr-only">(current)</span></h3></a>
			        <a class="nav-item nav-link" href="#"><img class="rounded-circle" id="profileLogo" src="{% static 'img/Foto.jpg' %}"></a>
			    </div>
		    </div>
		</nav>

		
        <div class="card" id="card1">
            <div class="card-body">

                <div id="upperCard1">
                    <div class="card-1-biodata">
                        <img src="{% static 'img/Foto.jpg' %}" class="img-thumbnail rounded-circle" id="profilePhoto" alt="Picture of Kevin Christian Chandra">
                    </div>

                    <div class="card-1-biodata" id="mainID">
                        <h1 id="name">KEVIN CHRISTIAN CHANDRA</h1>
                        <hr>
                        <h5 id="career">Student at University of Indonesia</h5>
                    </div>
                </div>

                <div id="lowerCard1">
                    <div class="card-1-biodata" id="bioIcons">
                        <img src="{% static 'img/Birthday-icon.png' %}" class="bio-icon">
                        <img src="{% static 'img/Address.png' %}" class="bio-icon">
                        <img src="{% static 'img/Phone 2.png' %}" class="bio-icon">
                        <img src="{% static 'img/Mail.png' %}" class="bio-icon">
                        <img src="{% static 'img/Hobby.png' %}" class="bio-icon">
                        <img src="{% static 'img/Speaker.png' %}" class="bio-icon">
                    </div>

                    <div class="card-1-biodata" id="bioCategories">
                        <p class="bio-category">Birth</p>
                        <p class="bio-category">Address</p>
                        <p class="bio-category">Phone</p>
                        <p class="bio-category">E-Mail</p>
                        <p class="bio-category">Hobby</p>
                        <p class="bio-category">Motto</p>
                    </div>

                    <div class="card-1-biodata" id="bioContents">
                        <p class="bio-content">Jakarta, September 27, 1999</p>
                        <p class="bio-content">Jl. Tanah Sereal XVI, No. 5, Jakarta Barat, DKI Jakarta</p>
                        <p class="bio-content">081295239229</p>
                        <p class="bio-content">kevinc.27999@gmail.com</p>
                        <p class="bio-content">Reading, watching movies, playing video games</p>
                        <p class="bio-content">"Do your best in everything you do."</p>
                    </div>
                </div>

            </div>
        </div>

        <!-- My Description -->
        <div id="card2">
    		<div class="card header-card">
                <div class="card-body header-card-body">
                    <h4 id="description">Description</h4>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <p>I am a student at University of Indonesia's Faculty of Computer Science. I first enrolled here at July 2017. I am now on my second year. I'm currently a teaching assistant for the Fundamental Programming 1 Class. I also join the commitee of RKF 2018 and PMB 2018, events on my campus. I live by my motto, that I should strive to do the best in my study, not just to get the best score. Score is just a number, but experience and skills are more than that number. And I believe that with good skills, that number will then come along.</p>
                </div>
            </div>
        </div>

        <div class="card-columns content-cards">
            <div class="card card-combi" id="card3">
                <div class="card header-card">
                    <div class="card-body header-card-body">
                        <h4 id="exp">Experience</h4>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body list-card">
                        <ul>2018 - Teaching assistant for the Fundamental Programming 1 Class</ul>
                        <ul>2018 - Mentor for PMB Fasilkom UI 2018</ul>
                        <ul>2017 - Intern at Sekolah BEM Fasilkom UI</ul>
                    </div>
                </div>
            </div>

            <div class="card card-combi" id="card4">
                <div class="card header-card">
                    <div class="card-body header-card-body">
                        <h4 id="achievements">Achievements</h4>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body list-card">
                        <ul>2016 - 2nd Place in the FLS2N Jakarta Pusat on Poster Design</ul>
                        <ul>2016 - 3rd Place in the OSK Astronomi Jakarta Pusat 1</ul>
                        <ul>2015 - 1st Place in the OSK Astronomi Jakarta Pusat 1</ul>
                    </div>
                </div>
            </div>

            <div class="card card-combi" id="card5">
                <div class="card header-card">
                    <div class="card-body header-card-body">
                        <h4 id="education">Education</h4>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body list-card">
                        <ul>2017 - Now</ul>
                        <ul>University of Indonesia's Faculty of Computer Science</ul>
                        <ul>2014 - 2017</ul>
                        <ul>Kristen Ketapang 1 Senior High School Jakarta</ul>
                        <ul>2011 - 2014</ul>
                        <ul>Kristen Ketapang 1 Junior High School Jakarta</ul>
                        <ul>2005 - 2011</ul>
                        <ul>Kristen Ketapang 1 Elementary School Jakarta</ul>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>