<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <title>PPWLab - Register Account</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">

    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'Lab3.css' %}">
    	<style type="text/css">
            /** {
                border-style: solid;
            }*/
    	</style>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>

    <body>
    	<!-- from bootstrap -->
    	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navBar">
            <img class="rounded-circle" id="kakPeweLogo" src="{% static 'img/Kak-Pewe.jpg' %}">
            <a class="navbar-brand" id="navBarBrand" href="#"><h3>PPWLAB - REGISTER ACCOUNT</h3></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" id="navBarNav">
                    <a class="nav-item nav-link" id="homeLink" href="home"><h3>Home</h3></a>
                    <a class="nav-item nav-link active" id="registerLink" href="#"><h3>Register <span class="sr-only">(current)</span></h3></a>
                    <a class="nav-item nav-link" id="profileLink" href="profile"><h3>Profile</h3></a>
                    <a class="nav-item nav-link" href="profile"><img class="rounded-circle" id="profileLogo" src="{% static 'img/Foto.jpg' %}"></a>
                </div>
            </div>
        </nav>

        <!-- main card -->
        <div class="card" id="card1">
            <div class="card-body">
                <div class="card-1-register">
                    <h2 id="name">Register a New Account</h2>
                    <hr>
                </div>

                <form>
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Enter name">
                        <small id="nameHelp" class="form-text text-muted">You may enter more than one word.</small>
                    </div>

                    <div class="form-group">
                        <label for="inputDate">Date</label>
                        <input type="date" class="form-control" id="inputDate" placeholder="Enter date">
                    </div>

                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>

                    <div class="form-group">
                        <label for="inputUsername">Username</label>
                        <input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp" placeholder="Enter name">
                        <small id="usernameHelp" class="form-text text-muted">You may enter only alphabets (a-z), numbers (0-9), at sign (@), hyphen-minus (-) and underscore (_).</small>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword1">Password</label>
                        <input type="password" class="form-control" id="inputPassword1" aria-describedby="passwordHelp" placeholder="Enter Password">
                        <small id="passwordHelp" class="form-text text-muted">You may enter only alphabets (a-z), numbers (0-9), at sign (@), hyphen-minus (-) and underscore (_).</small>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword2">Confirm Password</label>
                        <input type="password" class="form-control" id="inputPassword2" placeholder="Confirm Password">
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Are you a human? [CAPTCHA is for the weak]</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>